# generated with ansible, so manual edits are irrelevant

auto lo
iface lo inet loopback

auto eth0
iface eth0 inet dhcp

{% for interface in hostvars[ansible_hostname]['interfaces'] %}
auto {{ interface.name }}
iface {{ interface.name }} inet static
    address {{ interface.address }}
    netmask {{ interface.netmask }}

{% endfor %}
