frr version 3.2+cl3u4
frr defaults datacenter
hostname leaf01
username cumulus nopassword
!
service integrated-vtysh-config
!
log syslog informational
!
{% for swp in fabric_ports %}
interface {{ swp }}
 ipv6 nd ra-interval 10
 no ipv6 nd suppress-ra
!
{% endfor %}
router bgp {{ bgp_asn }}
 bgp router-id {{ loopback_address }} 
 coalesce-time 1000
 bgp bestpath as-path multipath-relax
 neighbor fabric description Internal Fabric Network
 neighbor fabric capability extended-nexthop
{% for swp in fabric_ports %}
 neighbor {{ swp }} interface remote-as external
{% endfor %}
 !
 address-family ipv4 unicast
  network {{ loopback_address }}/32
 exit-address-family
 !
 address-family l2vpn evpn
{% for swp in fabric_ports %}
  neighbor {{ swp }} activate
{% endfor %}
  advertise-all-vni
 exit-address-family
 exit
!
line vty
!
